<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Flask News App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">🏠 Home</a>
        <a href="{{ url_for('sport.index') }}">⚽ Sport</a>
        <a href="{{ url_for('news.index') }}">📰 News</a>
        <a href="{{ url_for('economics.index') }}">💹 Economics</a>
        <a href="{{ url_for('tech.index') }}">💻 Technology</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>